/* You can add global styles to this file, and also import other style files */
@import './assets/bootstrap/bootstrap.min.css';

body,
html {
  height: 100vb;
}

.app-loading {
  width: 100px;
  height: 100px;
  position: static;
  top: 50%;
  left: 50%;

  .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    height: 90px;

    background: url('../src/assets/logo-emblem.svg') center center no-repeat;
    background-size: contain;
  }
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.logo {
  display: inline-block;
  background: url('../src/assets/react_bb_logo.png') no-repeat top left;
  padding: 0px;
  margin: 0px;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.card-container {
  &.card {
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid #fff;
    box-shadow: 0 4px 9px #102f431f;
    border-radius: 1rem;
  }
}

.transaction-item {
  border-bottom: 1px solid #102f431f;
}

.cursor-pointer {
  cursor: pointer;
}
